.tokenomics {
  min-height: 500px;
  max-width: 1124px;
  margin: 90px auto;
  padding: 16px;
}

.title {
}

.subtitle {
  margin-top: 8px;
}

.holders {
  margin: 16px 0;
}

.total {
  margin-top: 180px;
  text-align: center;
}
.total h3 {
  font-weight: bold;
}
